<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>源代码模板.dot</Template><Company>China</Company><Pages>60</Pages><Words>18179</Words><Characters>103625</Characters><Lines>863</Lines><Paragraphs>243</Paragraphs><TotalTime>2</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>121561</CharactersWithSpaces><Application>WPS Office_11.1.0.9564_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>